<div class="flex flex-row ">
    <div class="imagen basis-1/4  h-screen ">   
    </div>
  
    <div class="basis-1/4">
      <h3 class="text-4xl font-light text-green-700 pt-5 pl-10">Administrar Jugadores - {{jugadores[0].equipo}}</h3>

      <hr class="mt-2 ml-10">
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="pt-5 pl-10">
        <!--Jugadores-->
        <div class="mb-6"> 
            <label class="block mb-2 text-md font-light text-gray-900">Jugadores</label>
            <div *ngFor="let jugador of jugadores" class="flex items-center mb-4">
                <input (change)="guardarEnArreglo(jugador.id)" [checked]="jugador.equipo_id == id" [disabled]="jugador.equipo_id == id" id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-lg focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-600">{{jugador.nombre}} {{jugador.ap_paterno}} {{jugador.ap_materno}}</label>
            </div>
        </div>

        <hr class="mt-2 mb-4">
  
        <!--Boton-->
        <button type="submit" [ngClass]="{ 'button-failed': apiFailed }" (animationend)="onAnimationEnd()" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4  font-medium rounded-lg text-sm w-full sm:w-auto px-6 py-1.5 text-center">Modificar Equipo</button>
      </form> 
    </div>
</div>