<div class="flex flex-row ">
  <div class="imagen basis-1/4  h-screen ">   
  </div>

  <div class="basis-1/4">
    <h3 class="text-4xl font-light text-green-700 pt-5 pl-10">Crea tu cuenta!</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="pt-5 pl-10 mb-2">

      <!--Username-->
      <div class="mb-6"> 
        <label for="Nombre" class="block mb-2 text-md font-light text-gray-900">Nombre</label>
        <input type="text" [ngClass]="{'border border-2 border-red-400': form.get('name')?.invalid && form.get('name')?.touched}" formControlName="name"  id="Nombre" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Ingresa un nombre de usuario..." required>
      
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Error en la validacion!</span> El nombre es requerido.
          </div>
        </div>
     
      </div>

      <!--Telefono-->
      <div class="mb-6"> 
        <label for="Telefono" class="block mb-2 text-md font-light text-gray-900">Telefono </label>
        <input type="tel"  [ngClass]="{'border border-2 border-red-400': form.get('phone')?.invalid && form.get('phone')?.touched}" formControlName="phone" id="Telefono" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Ingresa tu numero de telefono..." required>
        <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Error en la validacion!</span> El telefono es requerido.
          </div>
        </div>
      </div>

      <!--Email-->
      <div class="mb-6"> 
        <label for="email" class="block mb-2 text-md font-light text-gray-900">Correo</label>
        <input type="email" [ngClass]="{'border border-2 border-red-400': form.get('email')?.invalid && form.get('email')?.touched}"  formControlName="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Ingresa tu email..." required>
       
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Error en la validacion!</span> El email es requerido.
          </div>
        </div>
      
      </div>

      <!--Password-->
      <div class="mb-6">
        <label for="password" class="block mb-2 text-md font-light text-gray-900">Tu contraseña</label>
        <input type="password" [ngClass]="{'border border-2 border-red-400': form.get('password')?.invalid && form.get('password')?.touched}" formControlName="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Ingresa una contraseña..." required>
      
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Error en la validacion!</span> La contraseña es requerido.
          </div>
        </div>
      
      </div>

      <!--Password confirm-->
      <div class="mb-6">
        <label for="password_confirm" class="block mb-2 text-md font-light text-gray-900">Confirmar contraseña</label>
        <input type="password" [ngClass]="{'border border-2 border-red-400': form.get('password_confirmation')?.invalid && form.get('password_confirmation')?.touched}" formControlName="password_confirmation" id="password_confirm" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Repite la contraseña..." required>
     
        <div *ngIf="form.get('password_confirmation')?.invalid && form.get('password_confirmation')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Error en la validacion!</span> La contraseña es requerido.
          </div>
        </div>
      </div>

      <hr>

      <!--Boton-->
      <button type="submit" [ngClass]="{ 'button-failed': apiFailed }" (animationend)="onAnimationEnd()" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4  font-medium rounded-lg text-sm w-full sm:w-auto px-6 py-1.5 mt-4 text-center">Crear Usuario</button>
    </form>  

    <!--Login-->
    <label  class=" pt-5 pl-10 ml-2 text-sm font-medium text-dark">Ya tienes cuenta? <button (click)="backToLogin()" class="text-blue-600 hover:underline dark:text-blue-500">Iniciar sesion</button></label>
  </div>    

  <router-outlet></router-outlet>
</div>