<div class="flex flex-row">
    <div class="basis-1/4">
    </div>
    
    <div class="basis-1/2 pt-5 "><div class="relative overflow-x-auto sm:rounded-lg">
        <h3 class="text-4xl font-light text-green-700 pt-2 pb-2 pl-4">Lista de Jugadores.- {{jugadores[0].equipo}}</h3>
        
        <hr class="mb-4 mx-4">

        <table class="w-full text-sm text-left text-blue-100 dark:text-blue-100">
            <thead class="text-xs text-black uppercase bg-green-200 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Apellido Paterno
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Apellido Materno
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Sexo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        F.Nacimiento
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600 border-b border-green-400 " *ngFor="let jugador of jugadores" >
                    <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                        {{jugador.id}}
                    </th>
                    <td class="px-6 py-4">
                        {{jugador.nombre}}
                    </td>
                    <td class="px-6 py-4">
                        {{jugador.ap_paterno}}
                    </td>
                    <td class="px-6 py-4">
                        {{jugador.ap_materno}}
                    </td>
                    <td class="px-6 py-4">
                        {{jugador.sexo}}
                    </td>
                    <td class="px-6 py-4">
                        {{jugador.f_nac}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div>
    <div class="basis-1/4"></div>
</div>