<h3 class="text-4xl font-light text-green-700 pt-5 pl-10">Equipos</h3>
<div class="flex flex-row">
    <div class="basis-1/4 pt-5 pl-5 " >
        <button type="button"  (click)="crearEquipo()" class="focus:outline-none text-white bg-gray-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-5 mb-2 ">Agregar Equipo</button>
    </div>

    <div class="basis-1/2 pt-5 "><div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-blue-100 dark:text-blue-100">
            <thead class="text-xs text-black uppercase bg-green-200 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Division
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Campeonatos
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Estado
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Propetario
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600 border-b border-green-400 " *ngFor="let equipo of equipos">
                    <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                        {{equipo.id}}
                    </th>
                    <td class="px-6 py-4">
                        {{equipo.nombre}}
                    </td>
                    <td class="px-6 py-4 text-center">
                        <span *ngIf="equipo.division == 1">1ra</span>
                        <span *ngIf="equipo.division == 2">2da</span>
                        <span *ngIf="equipo.division == 3">3ra</span>
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{equipo.campeonatos}}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{equipo.estado}}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{equipo.propietario}}
                    </td>
                    <td class="px-6 py-4 text-center">
                        <a (click)="editarEquipo(equipo.id)" class="font-medium text-white hover:underline hover:text-blue-500 mr-3">Editar</a>
                        <a (click)="deleteEquipo(equipo.id)" class="font-medium text-white hover:underline hover:text-red-500 ml-3">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div>
    <div class="basis-1/4"></div>
  </div>

