

<div class="flex flex-row">
    <div class="basis-1/4 pt-5 pl-5" >
        <button type="button"  (click)="crearEquipo()" class="focus:outline-none text-white bg-gray-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 ">Crear Equipo</button>

    </div>
    <div class="basis-1/2 pt-5 "><div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-blue-100 dark:text-blue-100">
            <thead class="text-xs text-black uppercase bg-green-200 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Estado
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Propetario
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                    <th scope="col" class="px-6 py-3">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600 border-b border-green-400 ">
                    <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                        01
                    </th>
                    <td class="px-6 py-4">
                        Santos Laguna
                    </td>
                    <td class="px-6 py-4">
                        Coahuila
                    </td>
                    <td class="px-6 py-4">
                        Alejandro Ilarragorri
                    </td>
                    <td class="px-6 py-4">
                        <a (click)="editarEquipo()" class="font-medium text-white hover:underline">Editar</a>
                    </td>
                    <td>
                        <a href="#" class="font-medium text-white hover:underline">Eliminar</a>
                    </td>
                </tr>
                

            </tbody>
        </table>
    </div></div>
    <div class="basis-1/4"></div>
  </div>

