<h3 class="text-4xl font-light text-green-700 pt-5 pl-10">Partidos</h3>
<div class="flex flex-row">
    <div class="basis-1/4 pt-5 pl-5">
        <hr class="mx-5">
        <button *ngIf="isSessionActive()" type="button" (click)="crearPartido()"  class="focus:outline-none text-white bg-gray-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-5 mt-4">Agregar Equipo</button>
    </div>

    <div class="basis-1/2 pt-5 "><div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-blue-100 dark:text-blue-100">
            <thead class="text-xs text-black uppercase bg-green-200 " >
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Local
                    </th>
                    <th scope="col" class="px-6 py-3">
                        vs
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Visitante
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Hora
                    </th>
                    <th *ngIf="id == 1 || id==2" scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600 border-b border-green-400 " *ngFor="let partido of partidos">
                    <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                        {{partido.id}}
                    </th>
                    <td class="px-6 py-4">
                        {{partido.local}}
                    </td>
                    <td class="px-6 py-4">
                          vs
                    </td>
                    <td class="px-6 py-4">
                        {{partido.visitante}}
                    </td>
                    <td class="px-6 py-4">
                        {{partido.fecha}}
                    </td>
                    <td class="px-6 py-4">
                        {{partido.hora}}
                    </td>
                    <td *ngIf="id == 1 || id==2" class="px-6 py-4 text-center">
                        <a (click)="editarPartido(partido.id)" class="font-medium text-white hover:underline hover:text-blue-500 mr-3">Editar</a>
                        <a (click)="deletePartido(partido.id)" class="font-medium text-white hover:underline hover:text-red-500 ml-3">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div></div>
    <div class="basis-1/4"></div>
</div>